.adminBanner {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("../../../../assets/images/4.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.instructorBanner {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("../../../../assets/images/3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
